<!-- 这里要定义成指令 -->
<!-- <div id="posNav">
    <div class="row1">
        <div class="row">
            <ul class="clearfix">
                <li><a ui-sref="home">首页></a></li>
                <li><a ui-sref="introduct">走进蕊藤</a></li>
            </ul>
        </div>
    </div>
</div> -->
<navbar></navbar>
<div id="about" class="container clearfix">
    <div class = 'col-md-3 fl aboutLeft'>
        <div id="title">
            关于我们
        </div>
        <dl>
            <dt><a ui-sref='introduct'>CSA农场</a></dt>
            <dd><a ui-sref='introduct' ng-class='{true:"active",false:"inactive"}[isActive == "introduct"]'>农场介绍</a></dd>
            <dd><a ui-sref='CSAIdea' ng-class='{true:"active",false:"inactive"}[isActive == "CSAIdea"]'>CSA理念</a></dd>
            <dd><a href="./farmsScenery.html">农场风光</a></dd>
            <dd><a href="./photograph.html">相册展示</a></dd>
            <!-- <dt><a href="#">农场主寄语</a></dt> -->
            <dt><a ui-sref='news' ng-class='{true:"active",false:"inactive"}[isActive == "news"]'>农场新闻</a></dt>
            <dt><a href="./CSA理念.html">关于蕊藤</a></dt>
            <dd><a href="./contact.html">联系我们</a></dd>
        </dl>
    </div>
    <div class = 'col-md-9 fr aboutRight'>
        <!-- <div class="content1 clearfix">
            <h1>走进蕊藤</h1>
            <img src="../image/mmexport1501831426456.jpg" alt="">
            <div class="first">长沙蕊藤农业科技有限公司办公室地址位于长江中游地区重要的中心城市、湖南省省会长沙，湖南省长沙市岳麓区桔子洲街道潇湘大道中段天马村大学科技园创业大厦B4508，于2014年01月28日在长沙工商局注册成立，在公司发展壮大的4年里，我们始终为客户提供好的产品和技术支持、健全的售后服务，我公司主要经营农业，我们有好的产品和专业的销售和技术团队，我公司是长沙农业公司行业内知名企业，如果您对我公司的产品服务有兴趣，期待您在线留言或者来电咨询。</div>
        </div>
        <div class="content2">
            <h1>有点田生态农耕</h1>
            <img src="../image/mmexport1505029983939.jpg" alt="">
            <img src="../image/mmexport1505029985989.jpg" alt="">
            <div class="first">地址:湖南省长沙市捞刀河镇大星村有点田生态农耕基地</div>
        </div> -->
        <div ui-view>

        </div>
    </div>
</div>
