<div class="content1 clearfix">
    <h1>
        CSA理念
    </h1>
    <div class="csaContent">
        <p class="csaTit">
            1.什么是社区支持农业CSA？
        </p>
        <p class="zhengwen">
            社区支持农业（Community Supported Agriculture, CSA）上个世纪六十年代最早出现在德国、瑞士和日本，八十年代出现在美国。最初的出现是因为对于食品安全和对于城市化过程中对土地的关注。生产者和消费者之间建立一种共担风险、共享收益的关系，消费者会预付生产费用与生产者共同承担在来年农业种植过程中可能会出现的风险并支持使用生态可持续的种植方式，与以往的收益方式不同，生产者在季节之初就获得了这一年种植的收益，并且这部分收益对生产者付出的劳动来说是公平的，而与此同时，消费者也获得了生态种植的健康农产品。 您知道您吃的东西从何而来，支持了本地区的经济，还可以在蔬菜上看到农夫的脸。
        </p>
        <p class="csaTit">
            2.什么是社区支持农业CSA？
        </p>
        <p class="zhengwen">
            社区支持农业（Community Supported Agriculture, CSA）上个世纪六十年代最早出现在德国、瑞士和日本，八十年代出现在美国。最初的出现是因为对于食品安全和对于城市化过程中对土地的关注。生产者和消费者之间建立一种共担风险、共享收益的关系，消费者会预付生产费用与生产者共同承担在来年农业种植过程中可能会出现的风险并支持使用生态可持续的种植方式，与以往的收益方式不同，生产者在季节之初就获得了这一年种植的收益，并且这部分收益对生产者付出的劳动来说是公平的，而与此同时，消费者也获得了生态种植的健康农产品。 您知道您吃的东西从何而来，支持了本地区的经济，还可以在蔬菜上看到农夫的脸。
        </p>
    </div>
</div>