<div id="contact" class="container">
    <div class="item">
        <p>客服电话</p>
        <h3 class='tel'>0731-89911446</h3>
        <p class="telTime">周一到周六 9:00-18:00</p>
        <div class="qqChat">
            <img src="app/image/qq.gif" alt="">
        </div>
    </div>
    <div class="item">
        <p>有点田生态农耕</p>
        <p class="ourIdea">(1).公开透明种植，参与保障安全<br />(2)坚持生态种植，传承传统农耕<br />(3)监督机制 PGS参与式保障</p>
        <div class="focus">
            <span>关注我们:</span>
            <i></i>
            <div class="focusWeixin">
                <p>扫一扫,关注微信</p>
                <p>获得更多优惠</p>
                <img src="app/image/qrcode_for_gh_f4e92d76a474_344.jpg" witdh='102' height="102">
            </div>
        </div>
    </div>
    <div class="item">
        <p>扫码关注蕊藤有点田</p>
        <img src="app/image/qrcode_for_gh_f4e92d76a474_344.jpg" witdh='102' height="102">
    </div>
</div>