
    <div class="container">
        <div id="head_top" class="clearfix">
            <a href="index.html" class="logo clearfix"><img src="app/image/mmexport1501831426456.png" alt=""></a>
            <a href="index.html" class="logo1 clearfix"><img src="app/image/mmexport1501831427716.png" alt=""></a>
        </div>
    </div>

    <div class="navbar navbar-inverse">
         <ul class=" container">
            <li class="li_list"><a ui-sref='home' ng-class='{true:"active",false:"inactive"}[isActive == "home"]'>首页</a></li>
            <li class="li_list"><a ui-sref='introduct' ng-class='{true:"active",false:"inactive"}[isActive == "main"]'>走进蕊藤</a></li>
            <li class="li_list"><a href="https://h5.youzan.com/v2/showcase/homepage?alias=2pu9r94z&redirect_count=2">在线农墟</a></li>
            <li class="li_list"><a href="./news.html">资讯动态</a></li>
            <li class="li_list"><a href="#">主题活动</a></li>
            <li class="li_list"><a href="#">觅食之旅</a></li>
            <li class="li_list"><a href="#">耕读空间</a></li>
            <li class="li_list"><a href="https://m.realfarm.cn/app/wx/?f=268&h=/app/farms/268/yard#/app/farms/268/yard
">会员专区</a></li>
            <li class="li_list"><a href="../html/contact.html">联系我们</a></li>
        </ul>
    </div>
