<div class="content1 clearfix">
    <h1>
        走进蕊藤
    </h1>
    <img alt="" src="app/image/mmexport1501831426456.jpg">
        <div class="first">
            长沙蕊藤农业科技有限公司办公室地址位于长江中游地区重要的中心城市、湖南省省会长沙，湖南省长沙市岳麓区桔子洲街道潇湘大道中段天马村大学科技园创业大厦B4508，于2014年01月28日在长沙工商局注册成立，在公司发展壮大的4年里，我们始终为客户提供好的产品和技术支持、健全的售后服务，我公司主要经营农业，我们有好的产品和专业的销售和技术团队，我公司是长沙农业公司行业内知名企业，如果您对我公司的产品服务有兴趣，期待您在线留言或者来电咨询。
        </div>

</div>
<div class="content2">
    <h1>
        有点田生态农耕
    </h1>
    <img alt="" src="app/image/mmexport1505029983939.jpg">
        <img alt="" src="app/image/mmexport1505029985989.jpg">
            <div class="first">
                地址:湖南省长沙市捞刀河镇大星村有点田生态农耕基地
            </div>

</div>